.main {
    border: black;
    border-width: 5px;
    border-style:outset;
}

.teclado {
    background-color: black;
}

button {
    background-color: #0e0d0d; 
    border: none;
    color: white;
    margin: 3px 3px 3px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.igual {
    background-color: #15ac29;
}

.c {
    color: rgb(221, 11, 11);
}

.parentesis{
    color: #15ac29;
}

.porcentaje{
    color: #15ac29;
}

.division{
    color: #15ac29;
}

.multiplicacion{
    color: #15ac29;
}

.menos{
    color: #15ac29;
}

.suma{
    color: #15ac29;
}